# Python bytecode and cache
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/
.env

# Credentials
credentials/
*.json

# Flask default files
instance/
*.db

# PyCharm and VSCode settings
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db
